[server1]

type=server

address=master1

port=3306

protocol=MariaDBBackend

[server2]

type=server

address=master2

port=3306

protocol=MariaDBBackend

[MariaDB-Monitor]

type=monitor

module=mariadbmon

servers=server1,server2

user=maxuser

password=maxpwd

[Sharded-Service]

type=service

router=schemarouter

servers=server1,server2

user=maxuser

password=maxpwd

[Shard-A-Listener]

type=listener

service=Sharded-Service

protocol=MariaDBClient

port=4000

